* {
  box-sizing: border-box;
}

.landing {
  display: flex;
  justify-content: space-evenly;
  background-color: yellow;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-socials {
  display: flex;
  gap: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tablink {
  background-color: gray;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 1rem;
}

.tablink:hover {
  cursor: pointer;
}

nav > .active {
  background-color: green;
}

.tabcontent {
  display: none;
  background-color: gray;
  border-radius: 0.5rem;
  padding: 1rem;
}

